@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700;800&family=Roboto:wght@400;500;700;900&display=swap');
body{
    margin: 0px;
    padding: 0px;
    font-family: 'Open Sans', sans-serif;
}
*{
    margin: 0px;
    padding: 0px;
}
h1,h2,h3,h4,h5,h6{
    font-family: 'Roboto', sans-serif;
}
.header-area{
    position: absolute;
    left: 0;
    right: 0;
    padding: 40px 0px;
    z-index: 10;
}

.main-menu ul{
    margin: 0px;
}
.main-menu ul li{
    display: inline-block;
    position: relative;
}
.main-menu ul li a{
    display: block;
    font-size: 18px;
    font-weight: 400;
    text-decoration: none;
    color: #cfcfd8;
    padding: 20px 15px;
    font-family: 'Roboto', sans-serif;
}

.main-menu ul li .submenu{
    position: absolute;
    background-color: #4B40DF;
    width: 200px;
    top: 150%;
    left: 15%;
    transition: .3s;
    opacity: 0;
    visibility: hidden;
    -webkit-box-shadow: -1px 10px 38px -15px rgba(0,0,0,0.75);
    -moz-box-shadow: -1px 10px 38px -15px rgba(0,0,0,0.75);
    box-shadow: -1px 10px 38px -15px rgba(0,0,0,0.75);
}
.main-menu ul li .submenu li .submenu{
    top: 0%;
    left: 100%;
}
.main-menu ul li:hover > .submenu{
    opacity: 1;
    visibility: visible;
    top: 100%;
}
.main-menu ul li:hover > a, .main-menu ul li .submenu li:hover >a {
    color: white;
}
.main-menu ul li .submenu li{
    margin: 0px;
    display: block;
}
.main-menu ul li .submenu li a{
    color: #cfcfd8;
    padding: 10px 20px;
}

.header-btn a{
    background-color: #6d5ee0;
    padding: 20px 60px;
    border-radius: 30px;
    margin-left: 15px;
    color: white;
    transition: .3s;
}
.header-btn a:hover{
    background-color: #ff62a3;
    color: white;
}

.slider{
    background-image: url('../img/hero.png');
    background-size: cover;
    background-repeat: no-repeat;
    min-height:100px;
    z-index: 2;
    left: 0;
    top: 0;
    position: relative;
}

.slider h2{
    margin-top: 290px;
    font-size: 60px;
    font-weight: 800;
    color: white;
}

.slider p{
    font-size: 24px;
    font-weight: 500;
    color: white;
}

.slider img{
    margin-top: 150px;
    width: 400px;
    float: right;
}

.slider .redmore{
    border-radius: 30px;
    padding: 10px 30px;
    background: linear-gradient(to right, #ff64a3 , #ff95a5);
    color: white;
    transition: 2s;
    transition-timing-function: linear;
}
.slider .redmore:hover{
    background: linear-gradient(to left, #ff64a3 , #ff95a5);
}
.slider .learnmore{
    border: 1px solid white;
    border-radius: 30px;
    padding: 10px 30px;
    margin-left: 15px;
    color: white;
}
.slider .learnmore:hover{
    background-color: white;
    color:#ff64a3;
}

.shape .shape-01{
    width: auto;
    position: absolute;
    top: 45%;
    left: 50%;
}
.shape .shape-02{
    width: auto;
    position: absolute;
    left: 1%;
}
.imgshape {
    position: relative;
}
.img-shape-01{
    position: absolute;
    width: auto!important;
    top: 6%;
}
.img-shape-02 {
    position: absolute;
    top: 44%;
    width: auto!important;
    left: 75%;
}

